/* semantic color variables for this project */
:root {
  --color-background: #cdeaff;
  --color-border: #6c7e8b;
  --color-border-hover: #7f94a3;

  --color-heading: #36393c;
  --color-text: #101111;

  --section-gap: 160px;

  --color-case: #fcf0be;
  --color-false: #c63333;
  --color-true: #57af3f;
  --color-partial: #edb02c;

  --color-tooltip-background: #ffffff;
  --color-tooltip-text: #101012;

  --case-width:100px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #181c1e;
    --color-border: #48545e;
    --color-border-hover: #849aaa;

    --color-heading: #839aaa;
    --color-text: #f5fbff;

    --color-case: #536168;
    --color-false: #a12929;
    --color-true: #479112;
    --color-partial: #e3980c;

    --color-tooltip-background: #717273;
    --color-tooltip-text: #ffffff;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
