@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  text-align: center;
}

.tooltipText {
  visibility: hidden;
  background-color: var(--color-tooltip-background);
  color: var(--color-tooltip-text);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  margin-top:10px;
  position: absolute;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.3s;
}

.correct{
  background-color: var(--color-true);
}

.false{
  background-color: var(--color-false);
}

.partial{
  background-color: var(--color-partial);
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}
