@import './base.css';

#app {
  max-width: 1280px;
  font-weight: normal;
  text-align: center;
  position: absolute;
  top: 0px;
}

.shadowElement{
  filter: drop-shadow(0 5px 0.4rem rgba(0, 0, 0, 0.433));
}


button {
  display: inline-block;
  position: relative;
  border: 0;
  background: var(--color-button);
  padding: 0.7em;
  border-radius: 5px;
  font-size: 16px;
  transform-style: preserve-3d;
  transform: translate3d(0, 0em, 1em);
  transition: transform 0.3s cubic-bezier(0,0,0.58,1),
  background 0.3s cubic-bezier(0,0,0.58,1);
  cursor: pointer;
  color:white;
  width: var(--button-width);
}

button:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-button-back);
  border-radius: inherit;
  transform: translate3d(0, 0.5em, -1em);
  transition: transform 0.3s cubic-bezier(0,0,0.58,1),
  background 0.3s cubic-bezier(0,0,0.58,1);
}

button:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

button:hover:before {
  background-color: var(--color-button-back-hover);
}

button:active {
  transform: translate(0, 0.5em);
}
button:active:before,
button:active:after {
  transform: translate3d(0,0,-1em);
}

button:disabled,
  button[disabled] {
      background-color: rgb(154, 154, 154);
      color: white;
      cursor: not-allowed;
  }

button.bottomWindow{
  border-radius: 0;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
}

#appContent
{
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
}

.correct{
  background-color: var(--color-true);
}

.false{
  background-color: var(--color-false);
}

.partial{
  background-color: var(--color-partial);
}

@keyframes appear {
  from {
      opacity:0;
  }
  to {
      opacity: 1; 
  }
  }

@media (min-width: 1024px) {
}
